html, body{
    margin: 0;
  }
  *{
    box-sizing: border-box;
  }
  body{
    display: flex;
    flex-direction: column;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    background-color: #f9f9f9;
  }
  
  header h1, main h2{
    margin-bottom: 70px;
  }
  
  main h2 span {
    color: #ff4f4f;
  }
  
  .blood{
    color: #ff4f4f;
    font-weight: bold;
    font-size: 13px;
    display: flex;
    align-items: center;
    position: relative;
    justify-content: center;
  }
  
  .blood::before{
    content: "";
    background-color: #ff4f4f20;
    width: 40px;
    height: 40px;
    position: absolute;
    border-radius: 50%;
    border-top-right-radius: 0;
    transform: rotate(-45deg);
  }
  
  .donor p{
    margin-top: 20px;
    font-size: 14px;
  }
  
  header, main, .form{
    margin:0 auto 70px;
    width: 90%;
    max-width: 600px;
  }
  
  .logo{
    width: 140px;
    margin: 60px 0px;
  }
  
  header button {
    margin-top: 8px;
    padding: 8px 16px;
    border-radius: 4px;
    background-color: #ff4f4f;
    color: white;
    border: none;
    font-weight: bold;
  
  }
  
  header, main, footer{
    text-align: center;
  }
  
  section.form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 45px;
    align-items: center;
    background-color: #ff4f4f;
    padding: 16px 64px;
    border-radius: 6px;
    transition: all 200ms;
}

section.form.hide {
  opacity: 0;
  visibility: hidden;
  height: 0;
  margin-bottom: -70px;
}

  
  .form h2{
    text-align: right;
    color: white;
    font-size: 18px;
  }
  
  form input, form button{
    width: 100%;
    margin-bottom: 4px;
    padding: 8px 16px;
    border: 1px #ffffff88 solid;
    border-radius: 4px;
  }
  
  form input {
    background-color: transparent;
  }

  form input::placeholder{
    color: #ffffffaa;
  }
  
  form button{
    font-weight: bold;
    background-color: white;
  }
  
  main .donors {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  
  footer{
    margin-top: auto;
    padding: 16px;
    border: 1px solid #eee;
  }

  .divSelect select{
    background-color: hsl(0, 100%, 65%);
    color: #ffffffaa;
    width: 100%;
    margin-bottom: 4px;
    padding: 8px 16px;
    border: 1px #ffffff88 solid;
    border-radius: 4px;
  }
  
.div-select select {
      background-position: 205px center;
      height:48px;
      font-family:Arial, Helvetica, sans-serif;
      font-size:18px;
      padding:13px 20px 13px 12px;
      color:#fff;
      text-indent: 0.01px; 
      text-overflow: "";    
}

.vid{
  text-align: center;
  background-position: 205px center;
}

.a{
  text-decoration: none;
  text-align: center;
  font-family: verdana;
  font-size: 15px;
  border-radius: 4px;
  width: 200px;
  height: 10px;
  color: rgb(0, 0, 0);
}

table#lista{
  max-width: 70%;
  min-width: 50%;
  margin: auto auto;
  text-align: left;
  font-family: verdana;
}

tr#lista{
  border: solid 1px;
}

td#lista{
  border: solid 1px;
}

table#menu{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  text-decoration: none;
  text-align: center;
  font-family: verdana;
}

th#titulo{
  font-family: verdana;
  text-align: center;
  border: solid 1px;
  background-color: hsl(0, 100%, 65%);
}

fieldset{
  max-width: 70%;
  min-width: 50%;
  margin: auto auto;
}

table#edit{
  width: 500px;
  margin: auto auto;
  text-align: left;
  font-family: verdana;
  background-color: hsl(0, 85%, 82%);
  border-radius: 5px;
  
}

form#edit{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 45px;
  align-items: center;
  background-color: #ff4f4f;
  padding: 16px 64px;
  border-radius: 6px;
}